/* Center content */
body {
  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #c4c3c2;
  font-family: "Poppins", sans-serif;
}

/* Flip card container */
.flip-card-container {
  perspective: 1500px;
}

/* Flip card styling */
.flip-card {
  width: 320px;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Flip on hover */
.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
}

/* Card front and back */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}

/* Front card design */
.flip-card-front {
  background: linear-gradient(135deg, #0a4eed, #182848);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 15px 15px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flip-card-front h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.flip-card-front h6 {
  margin-top: 1px;
}

/* Social Media */

/* .flip-card-front h5 {
        margin-top: -15px;
      } */

.flip-card-front p {
  font-size: 14px;
  margin-top: -5px;
  line-height: 1.5;
  text-align: justify;
}

/* Back card design */
.flip-card-back {
  background: linear-gradient(135deg, #0a4eed, #182848);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 15px 15px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
}

.skill {
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.skill p {
  margin: 10px 0 5px;
  color: #fff;
  font-weight: bold;
}

.bar {
  background: #1e1e2f;
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 10px;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #ff0077, #ff7c5c);
  width: 0;
  animation: grow 2s forwards;
}

/* Keyframe untuk animasi */
@keyframes grow {
  to {
    width: var(--target-width);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper a {
  text-decoration: none; /* menghapus garis bawah */
}

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.icon span i {
  font-size: 20px;
  color: #333;
}

.tooltip {
  position: absolute;
  top: -35px;
  color: #fff;
  background: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  white-space: nowrap;
}

.icon:hover .tooltip {
  opacity: 1;
  top: -45px;
}

.facebook:hover span {
  background: #0034a3;
  color: #fff;
}
.whatsapp:hover span {
  background: #3fc01f;
  color: #fff;
}
.instagram:hover span {
  background: #e1306c;
  color: #fff;
}
.github:hover span {
  background: #5f5e5e;
  color: #fff;
}
.youtube:hover span {
  background: #cc0e00;
  color: #fff;
}

.flip-card-back h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.flip-card-back h6,
a {
  text-decoration: none;
  color: #fff;
}

/* .flip-card-back p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.5;
      } */

/* Button styling */
.flip-card-back .button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f60b3e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flip-card-back .button:hover {
  background-color: #f60b3e;
}

/* -- External Social Link CSS Styles -- */

#source-link {
  top: 120px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 65px;
}

#yt-link > i {
  color: rgb(219, 31, 106);
}

#Fund-link {
  top: 10px;
}

#Fund-link > i {
  color: rgb(255, 251, 0);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}
